
/* STYLE FOR NAVICATION PAR */
@import "nav.css";
/* STYLE For LOGIN/REGISTER*/

#loginarea{
    width: 500px;
    border:2px solid black;
   
padding: 30px;
background: #fff;
border-radius: 15px;
align-items:center ;
justify-content: center;
background-color: white;
		width: 30%;
		margin: auto;
		border-radius: 25px;
		border: 2px solid blue;
		margin-top: 100px;
		background-color: rgb(255, 255, 255);
	    box-shadow: inset -2px -2px rgba(0,0,0,0.5);
	    padding: 40px;
	    font-family:sans-serif;
		font-size: 20px;
		color: white;
    
}


*{
    color:black ;
    
}

#submit	{
    border-radius: 15px;
    background-color: rgb(61, 171, 204);
    padding: 7px 7px 7px 7px;
    box-shadow: inset -1px -1px rgba(0,0,0,0.5);
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    margin:auto;
    margin-top: 20px;
      display:block;
      color: rgb(0, 0, 0);
      text-decoration: none;
}
#submit:hover	{
    border-radius: 20px;
    background-color: rgb(204, 61, 61);
    padding: 7px 7px 7px 7px;
    box-shadow: inset -1px -1px rgba(0,0,0,0.5);
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 17px;
    margin:auto;
    margin-top: 20px;
      display:block;
      color: rgb(0, 0, 0);
}

#logintext	{
    text-align: center;
    font-size: 30px;
}
.data	{
    color: rgb(0, 0, 0);
}

